.env
.env.*
!.env.example
vendor/
node_modules/
venv/
.venv/
__pycache__/
*.pyc
.phpunit.cache
.DS_Store
*.phar
*.sqlite
/services/laravel/storage/*.log
/services/laravel/storage/framework/cache/*
/services/laravel/storage/framework/sessions/*
/services/laravel/storage/framework/views/*
/services/laravel/bootstrap/cache/*
